In [1]:
%pip install --quiet pandas lxml

Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

# Read the entire webpaage from fda.gov
tables = pd.read_html(
    "https://www.worldatlas.com/articles/which-are-the-wealthiest-charitable-foundations-worldwide.html"
)

# The read should return one table; use that as the dataframe
df = tables[0]

df

,Rank,Organization / Country / by individual,Country,Headquarters,"Endowment (Billions, USD)"
0,1,Bill & Melinda Gates Foundation,United States,"Seattle, Washington",42.3
1,2,Stichting INGKA Foundation,Netherlands,Leiden,34.6
2,3,Wellcome Trust,United Kingdom,London,26.0
3,4,Howard Hughes Medical Institute,United States,"Chevy Chase, Maryland",18.2
4,5,Ford Foundation,United States,"New York City, New York",11.2
5,6,Kamehameha Schools,United States,"Honolulu, Hawaii",11.1
6,7,J. Paul Getty Trust,United States,"Los Angeles, California",10.5
7,8,Mohammed bin Rashid Al Maktoum Foundation,United Arab Emirates,Dubai,10.0
8,9,Azim Premji Foundation,India,Bangalore,9.8
9,10,Robert Wood Johnson Foundation,United States,"Princeton, New Jersey",9.5

In [7]:
# Rename the columns of the table
df.columns = [
    "Rank",
    "Organization",
    "Country",
    "Headquarters",
    "Endowment",
]

df

,Rank,Organization,Country,Headquarters,Endowment
0,1,Bill & Melinda Gates Foundation,United States,"Seattle, Washington",42.3
1,2,Stichting INGKA Foundation,Netherlands,Leiden,34.6
2,3,Wellcome Trust,United Kingdom,London,26.0
3,4,Howard Hughes Medical Institute,United States,"Chevy Chase, Maryland",18.2
4,5,Ford Foundation,United States,"New York City, New York",11.2
5,6,Kamehameha Schools,United States,"Honolulu, Hawaii",11.1
6,7,J. Paul Getty Trust,United States,"Los Angeles, California",10.5
7,8,Mohammed bin Rashid Al Maktoum Foundation,United Arab Emirates,Dubai,10.0
8,9,Azim Premji Foundation,India,Bangalore,9.8
9,10,Robert Wood Johnson Foundation,United States,"Princeton, New Jersey",9.5